h1,h2,h3,h4,h5,a,i {
    font-family: "Helvetica", sans-serif;
    font-weight: lighter;
    font-style: normal;
  }
a:hover{
  text-decoration:none;
  }
#top_bar_item{
    border-radius: 20px 20px 0px 0px;
    margin-right: 5px;
}
#main{
  height: 100%;
  z-index:2
}
div.sticky {
position: -webkit-sticky;
position: sticky;
top: 0;
z-index: 10;
}