{% extends 'base.html' %}


<!-- <head>
  <style>
    body, #map-container {
      padding: 0;
      margin: 0;
    }
      html, body, #map{
        height: 100vh;
        width: 100vw;
  }
  #map-container{
    height: 1000px;
  }
  </style>
</head> -->

{% block navbar-items %}
{{ block.super }}
    
    <!-- <a id="top_bar_item" class="w3-bar-item w3-left w3-button w3-padding w3-hover-white" href="{% url 'main:search' %}"><i class="fas fa-arrow-left"></i>  На головну</a> -->
    <a id="top_bar_item" class="w3-bar-item w3-left w3-button w3-padding w3-hover-white" href="{% url 'main:street_chronology' street.id %}"><i class="fa fa-clock-o"></i>  Переглянути хронологію вулиці</a>
    <a id="top_bar_item" class="w3-bar-item w3-left w3-padding w3-white">{{street.type}}: {{ street.name }}</a>
    <a id="top_bar_item" class="w3-bar-item w3-left w3-button w3-padding w3-hover-white">Кількість сегментів: {{ street.count_segments_by_date }}</a>
{% endblock %}


<!-- <form method="POST" class="post-form" action="{% url 'main:detail' street.id %}">{% csrf_token %}
  <label for="#date">Переглянути вулицю на дату:</label>
  <input required id="date" name="date" type="date">
  <button type="submit" class="w3-button w3-black">Переглянути</button>
</form> -->


<!-- <table id = "segments" class="w3-table-all">
  <thead>
   <tr class="w3-black">
     <th>Номер у б/д</th>
     <th>Район</th>
   </tr>
 </thead>

  {% for segment in segment_list %}
    <tr>
      <td><a href="{% url 'main:segment_detail' street.id segment.id %}">{{ segment.id }}</a></td>
      <td>{{ segment.district }}</td>
    </tr>
  {% empty %}
    <tr>
      <td colspan="5">Сегменти відсутні!</td>
    </tr>
  {% endfor %}
</table> -->


{% block sidebar %}
  {{ block.super }}
{% endblock %}


{% block sidebar-content %}
{{ block.super }} 
  <a id="sidebar_item" class="w3-bar-item w3-button w3-padding w3-hover-teal" 
    href="{% url 'main:segment_new' street.id %}">
    <i class="fa fa-road" ></i>  Додати сегмент</a>
  <a id="sidebar_item" class="w3-bar-item w3-button w3-padding w3-hover-teal" 
    href="{% url 'main:street_rename' street.id %}">
    <i class="fa fa-edit"></i>  Додати вулицю</a>
  {% endblock %}




  
{% block content %}

{% load static %}

{% load leaflet_tags %}
{% leaflet_css %}
{% leaflet_js %}
<link rel="stylesheet" href="{% static 'css/street_list.css' %}">
<div id="map-container" style="height: calc(100%);">
  <div id="map" style="height: calc(100%);">{% leaflet_map "main" callback="map_init" %}</div>
</div>

<script type="text/javascript">
  function map_init(map,options)
  {
    var lon = "{{ xcoord }}".replace(",", ".");
    var lat = "{{ ycoord }}".replace(",", ".");
    map.setView([lat, lon], 16);
    var myStyle = {
      "color": "#ff7800",
      "weight": 5,
      "opacity": 0.65
    };
    {% for s in segment_list.all %}
      var geojson = {{s.geom.geojson | safe}}
      L.geoJSON(geojson, {
        style: myStyle,
        onEachFeature: function (feature, layer) {
        layer.bindPopup('<h3> {{street}} '+"{{street.type}}"+'</h3>'+'<h4>Номер сегменту у БД: '+{{s.id}}+'</h4>'+'<h4>Район: '+"{{s.district}}"+'</h4>');
        }
        }).addTo(map);
    {% endfor %}
    map.fitBounds(geojson.getBounds());
  }
  
</script>

{% endblock %}
